name: Lint Code

on:
  push:
    branches: [ dev, main ]
  pull_request:
    branches: [ dev ]

jobs:
  lint_code:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install dependencies
      run: |
        curl -LsSf https://astral.sh/uv/install.sh | sh
        ~/.local/bin/uv sync --all-extras
    - name: Lint with ruff
      run: |
        ~/.local/bin/uv run ruff check aiutil/ tests/
    - name: Lint with Ty
      run: |
        ~/.local/bin/uv run ty check
    - name: Check code format
      run: |
        ~/.local/bin/uv run ruff format --check ./